#content {
    display: flex;
    flex-direction: row;
}
#organizers{
    margin-left: 1em;
}
#ledgerInfo {
 border: grey solid 1px;
 width:fit-content;
}
#ledgerPanel {
    border: grey solid 1px;
    width:fit-content;
}